.contact {
  padding: 4rem 2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 8rem;



  h1 {
    font-size: 3.5rem;
    margin-bottom: 6rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 6rem;
  }




  form {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    border: 2px solid #298dff;
    margin-left: 25rem;


  

    .formGroup {
      width: 100%;
      margin-bottom: 2rem;
      margin-top: 2rem;

       

      label {
        text-align: center;
        display: block;
        margin-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
      }

      input, textarea {
        width: 70%;
        padding: 0.8rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
      }
    }

    .submitButton {
      font-size: 1rem;
      padding: 1rem 2rem;
      background-color:  #298dff;
      color: white;
      border: none;
      margin-bottom: 2rem;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #298dff
      }
    }
    }
  }



