.hero {
  text-align: center;
  margin-top: 2rem;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.headerText {
  margin-bottom: 2rem;
  
  h1 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2rem;
    color: #ffffff;
  }
}

.background {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .techLogo {
    width: 80px;
    height: 80px;
    margin: 0 1rem;
  }
}

.heroImageContainer {
  position: relative;
  margin-top: 1rem;

  .heroImage {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
  }
}

.codeScreenshotsSection {
  margin-top: 2rem;

  .code-screenshots {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .image-container {
      width: 300px;
      height: 200px;
      perspective: 1000px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 15px;
        transition: transform 0.5s ease-in-out;
        backface-visibility: hidden;
      }

      .front {
        transform: rotateY(0deg);
      }

      .back {
        transform: rotateY(180deg);
        position: absolute;
        top: 0;
        left: 0;
      }

      &:hover .front {
        transform: rotateY(180deg);
      }

      &:hover .back {
        transform: rotateY(360deg);
      }
    }
  }
}

.typingText {
  font-size: 2rem;
  color: #ffffff;
  animation: typing 4s steps(40, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }
}
