.skills {
  padding: 4rem 2rem;
  text-align: center;
  margin-bottom: 8rem;



  h1 {
    font-size: 3.5rem;
    margin-bottom: 6rem;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .skillList {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    .skillCard {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
      width: 200px;
      text-align: center;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
      }

      h3 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        color: #555;
      }
    }
  }
}
