.skills {
  padding: 6rem 2rem;
  text-align: center;
  margin-bottom: 8rem;
  margin-top: -10rem;



  h1 {
    font-size: 3.5rem;
    margin-bottom: 6rem;
  }

  h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    color: #555;
  }

  .desktop-image{

    justify-content: left;
    width: auto;
    height: auto;
    object-fit:cover;
    margin-top: -30rem;

    transition: transform 0.5s ease; 
    
    &:hover {
      transform: scale(1.1); 
    }
  }

  .skillList {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    .skillCard {
      background-color: #fff;
      border-radius: 8px;
      border: 3px solid   #298dff;   
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
      width: 200px;
      text-align: center;
      transition: transform 0.1s ease-in-out;

      &:hover {
        transform: translateY(-10px);
      }

    
    }
  }
}
