* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(135deg, #001831, #026cad);
  color: #ffffff;
  transition: 0.7s ease;
}

h1 {
  position: relative;
  display: inline-block;
  overflow: hidden; /* Cache le texte pour l'effet de frappe */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  border-right: 2px solid; /* Simule la barre verticale (caret) */
  font-size: 3.5rem;
  margin-bottom: 1rem;
  width: fit-content; /* S'ajuste à la largeur du texte */
  animation: typing 4s steps(var(--num-characters), end), blink 0.75s step-end infinite;
  color: #298dff;
}




/* Animation pour faire clignoter la barre verticale (caret) */
@keyframes blink {
  0% {
    border-color: #298dff;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #298dff;
  }
}

h2 {
  position: relative;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 5rem;
}

/* Dynamically calculate the steps based on the number of characters */
h1::after {
  content: ''; /* Ajouter un contenu vide qui sert de curseur */
  animation: blink 1s step-end infinite;
}

/* Import your styles */
@import './styles/header.module.scss';
@import './styles/navbar.module.scss';
@import './styles/hero.module.scss';
@import './styles/about.module.scss';
@import './styles/contact.module.scss';
@import './styles/projects.module.scss';
@import './styles/skills.module.scss';
